.grid{
    /* display: grid;
    grid-template-columns: repeat(auto-fit,minmax(230px,1fr));
    gap:2rem; */
}
@media (max-width:768px) {
    .grid{
        /* display: grid;
        grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
        gap:1rem; */
        /* display: block !important; */
    }
}