.bg-custom {
    background:url('../../assets/images/desktop/image-hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -2;
}
@media (max-width:768px) {
    .bg-custom {
        background:url('../../assets/images/mobile/image-hero.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    z-index: -2;


    }
}
/* @media (min-width:1240px) {
    
    .hero-content{
      margin-right: ;
    }
} */